ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item__wrapper {
  display: flex;
}

.todo-item__title {
  display: inline-block;
  min-width: 140px;
  height: 24px;
  border: 1px solid grey;;
  border-radius: 5px;
  padding: 0 10px;
}

.more-toggle {
  cursor: pointer;
}


.dropdown {
  display: none;
}

.active .dropdown {
  display: block;
}